

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px 24px;
    background-color: white;
    color:black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d0d0d0;
}

canvas {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}



/* Tambahkan gaya untuk tautan unduhan */
.download-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.download-link i {
    margin-right: 8px;
}

.download-link:hover {
    background-color: #d0d0d0;
}


h2 {
    color: white;
}

label {
    color: white;
    
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('bg4.jpg') center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: transparent; /* Latar belakang putih dengan transparansi */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}